<!doctype html>
<html lang="pt-br" xmlns:th=" http://www.thymeleaf.org">
	
<!-- Head -->
<div th:replace="fragments/head :: head"></div>
    
   <!-- Navbar -->
	<div th:replace="fragments/navbar :: nav"></div>       
  
<body>          
        <div class="header2">
            <h1 class="titulo-cadast text-center"><strong>Pacotes</strong></h1>
        </div>
    </header>
    <!-- conteúdo: formulario -->
    <main>
        <div class=" container-row g-2 col-md-12 mx-auto col-lg-10 mb-2">
            <form action="" method="POST"  th:object="${promo}" class="row g-3 needs-validation" id="form-create" novalidate>
                <div class="mb-0 mt-3">
                    <h3 class="text-center"><strong>Dados do Pacote</strong></h3>
                </div>
                <input type="hidden" th:field="*{id}">
                
                 <div class="col-md-3 mt-3">
                 
                 <div class="col-md-3 mt-3">
                    <div class="form-outline">
                        <label for="cliente" class="form-label">nome do cliente</label>
                        <input type="text" id="cliente" class="form-control" value="cliente"th:field="${promo.cliente.nome}"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom03" class="form-label">Tipo de pacote</label>
                    <select class="form-select" id="validationCustom03" required>
                        <option selected value="" th:text="${promo.tipoPacote}">Escolha uma opção</option>
                        <option>voo(ida e volta)</option>
                        <option>voo(ida e volta), Hospedagem</option>
                        <option>Voo(ida e volta), Hospedagem, café da manhâ</option>
                        <option>Voo(ida e volta), Hospedagem, jantar</option>
                        <option>Hospedagem, Jantar, café da manhã</option>    
                    </select>
                    <div class="invalid-feedback">
                        Selecione uma estado válido.
                    </div>
                </div>
                
                <div class=" col-md-4 form-group">
                    <label htmlFor="DestinoId_destino" class="form-label">
                        Destino
                    </label>
                    <select id="DestinoId_destino" name="DestinoId_destino" class="form-select" value="destino">
                        <option value="DEFAULT">Escolha um destino</option>
                        <option key="{cliente.id}" value="passagem.id"th:field="${promo.passagem.destino}">
                            nome
                        </option>
                    </select>
                </div>

                <div class=" col-md-4 form-group">
                    <label htmlFor="Hospedagem" class="form-label">
                        Hospedagem
                    </label>
                    <select id="Hospedagem" name="Hospedagem" class="form-select">
                        <option value="DEFAULT">Escolha uma hospedagem</option>
                        <option key="{hospedagem.id}" value="{hospedagem.id}" th:field="${promo.hospedagem.nome}">>
                            nome
                        </option>
                    </select>
                </div>

                <div class="col-md-3 mt-3">
                    <div class="form-outline">
                        <label for="data_embarque" class="form-label">Data de embarque</label>
                        <input type="date" id="data_embarque" class="form-control" value="dataEmbarque"th:field="${promo.dataEmbarque}"/>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="form-outline">
                        <label for="data_retorno" class="form-label">Data de retorno</label>
                        <input type="date" id="data_retorno"class="form-control" value="dataRetorno"th:field="${promo.dataRetorno}">
                    </div>
                </div>

                <div class="col-md-3 mt-3">
                    <div class="form-outline">
                        <label for="validation02" class="form-label">Qtd.dias</label>
                        <input type="text" class="form-control" id="validation02" placeholder="diárias da hospedagem" 
                        value="" required>
                        <div class="valid-feedback">
                            <i class="ico ri-check-fill text-success"></i>
                        </div>
                    </div>
                </div>
               
               <div class="col-12 mt-4">
		<button class="btn btn-primary text-black rounded-5 buttonBase mb-3" type="submit"
			data-test-id="submit-button">Salvar &nbsp;
			<?xml version="1.0" encoding="iso-8859-1"?>
			<svg class="seta-input m-1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="20"
				height="20" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 513.32 513.32"
				xml:space="preserve">
				<g>
					<g>
						<polygon points="299.437,42.777 269.493,72.72 432.045,235.272 0,235.272 0,278.048
                                                     432.045,278.048 269.493,440.6 299.437,470.543 513.32,256.66" />
					</g>
				</g>
			</svg>
		</button>
		<!-- botão cancelar -->
		<a href="@{/}" class="btn btn-outline-danger text-black 
                    rounded-5 buttonBase mb-3 py-2 mx-3">Cancelar</a>
	</div>
	</form>
	</section>
	</div>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>