<div th:fragment="footer">
	<!-- Grid container -->
	<footer class="container-footer">
		<div class="row-footer  me-lg-5 ">
			<div class="footer-col mb-1">
				<ul>
					<li>
						<h1 class="display-6 has-shown"><strong>DVSviagem</strong></h1>
					</li>
					<p class="subtitulo-footer" style="font-weight: 700;">
						<em>Viaje com Destino as novas<br>Aventuras</em>
					</p>
					</li>
				</ul>
			</div>
			<!-- Social media -->
			<div class="footer-col px-1">
				<p class="text-center fs-6 p-0 m-1"><strong>Siga-nos</strong></p>
				<div class="icon-medias-sociais">
					<a href="#" rel="stylesheet" type="text/css" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<a href="#" rel="stylesheet" type="text/css" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="#" rel="stylesheet" type="text/css" target="_blank"><i class="fa fa-whatsapp"></i></a>
					<a href="#" rel="stylesheet" type="text/css" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="#" rel="stylesheet" type="text/css" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
			<!--newslatter Grid column-->
			<div class="footer-col pe-1">
				<p class="text-center fs-6 p-0 m-1" style="color: rgb(48, 46, 46);">
					<strong>Inscreva para receber ofertas exclusivas</strong>
				</p>
				<!--newsletter input -->
				<form action="" method="post">
					<div class="input-group mb-3">
						<input class="form-control" type="text" placeholder="Digite seu e-mail"
							aria-label="nome-destinatario" aria-describedby="button-addon2"></input>
						<button class="btn  btn-outline border-0 rounded-1" style="background-color:#68810bc2;"
							id="button-addon2" type="button"><i class="ri-send-plane-2-fill"></i></button>
					</div>
				</form>
			</div>
			<div class="footer-col p-0 mb-2">
				<!--Grid column card-->
				<p class="text-center fs-6 p-0 m-1" style="color: rgb(48, 46, 46);">
					<strong>Formas de pagamento</strong>
				</p>
				<img src="./imagens/bandeiras-de-cartao-de-credito1.jpg" alt="Cartoes de credito"><span>
			</div>
			<div class="footer-col">
				<ul>
					<li>
						<a href="#">Quem somos</a>
					</li>
					<li>
						<a href="#">Termos e condições gerais</a>
					</li>
					<li>
						<a href="#">Politica de privacidade</a>
					</li>
				</ul>
			</div>
			<div class="footer-col">
				<ul>
					<li>
						<a href="">Central de atendimento</a>
					</li>
					<li>
						<a href="#">central de ajuda</a>
					</li>
					<li>
						<a href="#">Remarcações de viagens</a>
					</li>
				</ul>
			</div>
			<div class="footer-col">
				<ul>
					<li>
						<a href="./Promoções.html">Passagens Promocionais</a>
					</li>
					<li>
						<a href="./Promoções.html">Pacotes promocionais</a>
					</li>
					<li>
						<a href="">Cancelamento e reembolso</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="copyright-row">
			<p class="small text-dark p-sm-0 mb-0 text-center" style="background-color:#68810bc2">
				<small>&copy; 2022 by Copyrights: VDSviagem</small><a th:href="@{/login}" class="text-primary">
					Login para Administrador</a>
			</p>
		</div>
	</footer>
</div>